<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h4 align="center"> Authors</h4>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form align="center" th:action="@{/}" th:object="${news}" th:method="post">
                <p>
                    <label>First name</label><br>
                    <input type="text" th:field="*{firstName}" name="first_name">
                </p>
                <p>
                    <label>Last name</label><br>
                    <input type="text" th:field="*{lastName}" name="first_name">
                </p>
                <p>
                    <button>Sign up</button>
                    <button type="reset">Reset form</button>
                </p>
            </form>
        </div>
        <div class="col-6">
            <table align="center" border="1" class="table">
            <thead >
            <tr>
                <th>id</th>
                <th>fist name</th>
                <th>lastname</th>
                <th>modify</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}" >
                <td th:text="${author.id}"></td>
                <td th:text="${author.firstName}"></td>
                <td th:text="${author.lastName}"></td>
                <td><a th:href="@{/author/{id}(id=${author.id})}" >
                    delete
                </a>
                <a th:href="@{/updateAuthor/{id}(id=${author.id})}" style="color:red">update</a>
                </td>
            </tr>
            </tbody>
        </table>
            <a align="center"  th:href="@{/author}" >author</a>
            <a  align="center" th:href="@{/book}">book</a>
            <a  align="center"  th:href="@{/publisher}">publisher</a></div>
    </div>


</div>
</body>
</html>